* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}
strong {
    color: #22D4FD
}
span{
    color: #22D4FD;
    border: 1px solid #22D4FD;
    padding: 10px;
}
.titulo-destaque {
    color: aqua;
}
